<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scientific Calculator </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
    <div class="headrr"> All Purpose Calculator... </div>
    <div id="app">
        <div class="calculator">
            <button @click="changeModeEvent" class="toggle-button">
        <p v-if="changeMode">Show Advanced Mode &nbsp; &nbsp; &#9864;</p>
        <p v-else>Show Basic Mode &nbsp; &nbsp; &#9862;</p>
      </button>
            <div class="results">
                <input class="input" v-model="current" />
            </div>
            <div class="mode" v-if="changeMode">
                <button class="button" @click="press">7</button>
                <button class="button" @click="press">8</button>
                <button class="button" @click="press">9</button>
                <button class="button" @click="press">*</button>
                <button class="button" @click="press">&#60;=</button>
                <button class="button" @click="press">C</button>
                <button class="button" @click="press">4</button>
                <button class="button" @click="press($event)">5</button>
                <button class="button" @click="press">6</button>
                <button class="button" @click="press">/</button>
                <button class="button" @click="press">(</button>
                <button class="button" @click="press">)</button>
                <button class="button" @click="press">1</button>
                <button class="button" @click="press">2</button>
                <button class="button" @click="press">3</button>
                <button class="button" @click="press">-</button>
                <button class="button" @click="press">x ²</button>
                <button class="button" @click="press">±</button>
                <button class="button" @click="press">0</button>
                <button class="button" @click="press">.</button>
                <button class="button" @click="press">%</button>
                <button class="button" @click="press">+</button>
                <button class="button equal-sign" @click="press">=</button>
            </div>
            <div class="mode" v-else>
                <button class="button" @click="press">sin</button>
                <button class="button" @click="press">cos</button>
                <button class="button" @click="press">tan</button>
                <button class="button" @click="press">x^</button>
                <button class="button" @click="press">&#60;=</button>
                <button class="button" @click="press">C</button>
                <button class="button" @click="press">log</button>
                <button class="button" @click="press">ln</button>
                <button class="button" @click="press">e</button>
                <button class="button" @click="press">∘</button>
                <button class="button" @click="press">rad</button>
                <button class="button" @click="press">√</button>
                <button class="button" @click="press">7</button>
                <button class="button" @click="press">8 </button>
                <button class="button" @click="press">9</button>
                <button class="button" @click="press">/</button>
                <button class="button" @click="press">x ²</button>
                <button class="button" @click="press">x !</button>
                <button class="button" @click="press">4</button>
                <button class="button" @click="press">5</button>
                <button class="button" @click="press">6</button>
                <button class="button" @click="press">*</button>
                <button class="button" @click="press">(</button>
                <button class="button" @click="press">)</button>
                <button class="button" @click="press">1</button>
                <button class="button" @click="press">2</button>
                <button class="button" @click="press">3</button>
                <button class="button" @click="press">-</button>
                <button class="button" @click="press">%</button>
                <button class="button" @click="press">±</button>
                <button class="button" @click="press">0</button>
                <button class="button" @click="press">.</button>
                <button class="button" @click="press">&#x003C0;</button>
                <button class="button" @click="press">+</button>
                <button class="button equal-sign" @click="press">=</button>
            </div>
        </div>
    </div>
    <nav class="social">


        <ul>
            <li><a href="https://Instagram.com/bagewadi_akram">Instagram <i class="fa fa-instagram"></i></a></li>
            <li><a href="https://github.com/bagewadi-akram">Github <i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/bagewadi-akram/">Linkedin <i class="fa fa-linkedin"></i></a></li>
        </ul>
    </nav>
    <div class="me">
        <p>Created by:
            <p>
                <h1>@bagewadi-akram</h1>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
    <script src="app.js"></script>

</body>

</html>