body {
    background-image: url(back.gif);
    background-size: cover;
    background-attachment: scroll;
}

#app {
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #503c2c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 50%;
    height: 80%;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    margin-top: 70px;
    font-size: 16px;
    background-color: rgba(92, 91, 91, 0.89);
    box-shadow: 2px 2px 1px rgb(232, 233, 238), -2px -2px 1px rgb(239, 239, 241);
}

.input {
    width: 770px;
    height: 100px;
    border-radius: 0px;
    border: 4px solid rgb(47, 45, 51);
    background-color: #cccfec;
    color: rgb(0, 5, 15);
    padding: 0 5px 0 5px;
    margin: 50px 0px 10px 0px;
    font-size: 30px;
}

.input:focus,
.input:active {
    border: #2888e9 2px groove;
    box-shadow: 3px 3px 4px #e93a1b, -3px -3px 4px #e93a1b;
    outline: none 0;
}

.button {
    margin: 3px;
    width: 120px;
    border: 1px solid #0d0d0d;
    height: 100px;
    border-radius: 4px;
    color: #d9d9d9;
    background-color: #1a1a1a;
    cursor: pointer;
    outline: none;
}

.button :hover {
    box-shadow: 3px 3px 4px #e7e7e7, -3px -3px 4px #ebe7e6;
}

.mode {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.equal-sign {
    background-color: rgb(230, 23, 23);
    width: 250px;
}

.toggle-button {
    width: 300px;
    height: 40px;
    border-radius: 40px;
    float: left;
    background-color: rgba(255, 250, 250, 0.527);
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.35);
}

p {
    margin-top: 0;
}

button::-moz-focus-inner {
    border-color: red;
}

a {
    color: #fff;
    text-decoration: none;
}

.me {
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 360px;
    height: 90px;
    background-image: url(text.png);
    background-size: cover;
}

.me p,
.me h1 {
    margin: 25px;
    letter-spacing: 3px;
    text-align: center;
}

.me h1 {
    font-weight: bolder;
    font-size: 30px;
    color: rgb(1, 0, 26);
}

.me p {
    font-weight: bolder;
    font-size: 15px;
    color: rgb(1, 0, 26);
}

.me span {
    font-weight: bold;
    color: snow;
}

.social {
    position: fixed;
    top: 20px;
}

.social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}

.social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
}

.social ul li:hover a {
    color: #000;
}

.social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.headrr {
    position: fixed;
    right: 0;
    writing-mode: vertical-rl;
    padding: 20px;
    font-size: 120px;
    color: rgb(2, 0, 26);
    font-weight: bolder;
    background-color: rgba(200, 200, 245, 0.438);
}